<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand">Demo 2</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page">Home</a>
          <a [routerLink]="'/entity-extraction'" class="nav-link active" aria-current="page" *ngIf="token">Entity
            extraction</a>
          <a [routerLink]="'/text-similarity'" class="nav-link active" aria-current="page" *ngIf="token">Text
            Similarity</a>
          <a [routerLink]="'/detect-language'" class="nav-link active" aria-current="page" *ngIf="token">Detect
            language</a>
          <a [routerLink]="'/sentiment-analysis'" class="nav-link active" aria-current="page" *ngIf="token">Sentiment
            analysis</a>
          <a [routerLink]="'/history'" class="nav-link active" aria-current="page">History</a>
        </div>
        <div class="d-flex">
          <span>{{ getUserName() }}</span>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
